body {
        background-color: #111;
            color: white;
                font-family: Arial;
                    text-align: center;
                    }

                    h1 {
                        color: cyan;
                        }
